USE [master]
GO
/****** Object:  Database [Optovay_Baza]    Script Date: 16.12.2020 11:37:06 ******/
CREATE DATABASE [Optovay_Baza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Optovay_Baza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SECRET\MSSQL\DATA\Optovay_Baza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Optovay_Baza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SECRET\MSSQL\DATA\Optovay_Baza_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Optovay_Baza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Optovay_Baza]
GO
/****** Object:  Table [dbo].[Pokunka]    Script Date: 16.12.2020 11:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokunka](
	[Number_chet] [int] NOT NULL,
	[Stoimost] [nvarchar](max) NULL,
	[Srok_postavki] [nvarchar](max) NULL,
	[kol_vo_tovar] [nvarchar](max) NULL,
	[Code_tovar] [int] NULL,
	[Postavchik] [int] NULL,
 CONSTRAINT [PK_Pokunka_Number_chet] PRIMARY KEY CLUSTERED 
(
	[Number_chet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavchik2]    Script Date: 16.12.2020 11:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavchik2](
	[Number] [int] NOT NULL,
	[FIO] [nvarchar](max) NULL,
	[Adres] [nvarchar](max) NULL,
	[PHONE] [nvarchar](max) NULL,
 CONSTRAINT [PK_Postavchik_Number] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 16.12.2020 11:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[load_code] [int] IDENTITY(0,1) NOT NULL,
	[Name_load] [nvarchar](max) NULL,
	[quantity_in_stock] [nvarchar](max) NULL,
	[Unit] [nvarchar](max) NULL,
	[Stoimost_ediniz] [nvarchar](max) NULL,
	[Opisanie_tovara] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tovar_Code_Tovar] PRIMARY KEY CLUSTERED 
(
	[load_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pokunka]  WITH CHECK ADD  CONSTRAINT [FK_POKUNKA_Code_tovar_Tovar_load_code] FOREIGN KEY([Code_tovar])
REFERENCES [dbo].[Tovar] ([load_code])
GO
ALTER TABLE [dbo].[Pokunka] CHECK CONSTRAINT [FK_POKUNKA_Code_tovar_Tovar_load_code]
GO
ALTER TABLE [dbo].[Pokunka]  WITH CHECK ADD  CONSTRAINT [FK_Pokunka_Postavchik_Postavchik_Number] FOREIGN KEY([Postavchik])
REFERENCES [dbo].[Postavchik2] ([Number])
GO
ALTER TABLE [dbo].[Pokunka] CHECK CONSTRAINT [FK_Pokunka_Postavchik_Postavchik_Number]
GO
USE [master]
GO
